@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

:root {
   --font-family: 'Montserrat', sans-serif;
   --second-font-family: 'Caveat', cursive;
   --width: 100%;
   --max-width: 1250px;
   --font-color: rgb(14, 4, 4);
   --header-background: #26c0a9;
}

body {
   width: 100%;
   max-width: 100%;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;
   font-size: 1.8rem;
   font-family: var(--font-family);   
   color: var(--font-color);
   /* scroll-behavior: smooth; */
}

/* header starts here */

.header {
   width: var(--width);
   height: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 3%;
   background-color: var(--header-background)
}

.logo {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* margin: 0 20px; */
   font-size: 4.5rem;
   font-weight: bold;
   color: white;
   font-family: var(--second-font-family);
}

.logo img {
   width: 90px;
   height: 90px;
}


.burger-icon {
   display: flex;
   flex-direction: column;
   align-items: space-between;
   justify-content: space-between;
   width: 30px;
   height: 25px;
   z-index: 2;
   /* margin: 0 50px 0 0; */
}

.stuck {
   position: fixed;
   /* top: 5px; */
}

.line1, .line2, .line3 {
   width: 100%;
   height: 5px;
   border-radius: 5px;
   background-color: white;
   transition: all .2s;
   transform-origin: left ;
}

.burger-icon .rotated1 {
   transform: rotate(42deg);
}

.burger-icon .noshow {
   visibility: hidden;
   opacity: 0;
}

.burger-icon .rotated3 {
   /* transform-origin: left ; */
   transform: rotate(-42deg);
}

/* .burger-menu {
   height: 100vh;
   width: 100px;
   background-color: var(--header-background);
} */

.nav-bar {
   /* width: auto; */
   width: 50px;
   height: 100px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   /* position: relative; */
}


.nav-bar__options {
   /* min-width: 100%; */
   max-width: 100%;
   min-height: 640px;
   max-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   /* display: flex; */
   background-color: var(--header-background);
   z-index: 5;
   transition: all .3s;
   /* transform: translateX(-100%); */
}

.nav-bar__options-noshow {
   /* z-index: 2; */
   /* transition: transform 1s; */
   transform: translateX(100%);
   visibility: hidden;
   opacity: 0;
   /* order: -1; */
}

.nav-bar__options .item {
   /* min-height: 100; */
   width: 100%;
   display: flex;
   justify-content: center;
   list-style: none;
   margin: 15px 10px;
   font-size: 3.5rem;
   transition: all .3s ease-in-out;
}

.nav-bar__options .item:active {
   background-color: #75d1c3;
}

.item .nav-link {
   height: 100%;
   display: flex;
   align-items: center;
   text-decoration: none;
   color: white;
}

/* header ends here */


/* features styles start here */

.features {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   width: var(--width);
   max-width: var(--max-width);
   margin: 40px auto;
   padding: 0 20px;
}

.our-features-list {
   width: var(--width);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   padding: 0 10px;
}

.feature {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin: 10px 0;
   list-style: none;
}

.feature img {
   /* width: 20%; */
   max-width: 200px;
   margin: 0 35px;
}

.feature section h2 {
   font-size: 2.2rem;
   margin:  0 0 10px;
}

.item__logo {
   width: 100%;
   height: 100%;
}


/* features styles end here */


/* what-we-do styles start here */

.what-we-do {
   width: 100%;
   /* max-width: var(--max-width); */
   height: 100%;
   /* max-height: 100vh; */
   background-image: url('assets/alvan-nee-T-0EW-SEbsE-unsplash.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 30px auto 50px;
   padding: 30px 0;
   /* backdrop-filter: blur; */
   position: relative;
}

.overlap {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(179, 202, 231, 0.671);
   z-index: 0;
   /* background-color: ; */
}

.what-we-do__content {
   display: flex;
   width: var(--width);
   max-width: var(--max-width);
   /* min-height: 100%; */
   flex-direction: column;
   margin: 0 auto;
   /* padding: 30px 0 ; */
   align-items: center;
   padding: 30px 20px 0;
   /* color: rgb(0, 0, 0); */
   z-index: 3;
}

.what-we-do__content p {
   /* font-weight: bold; */
   z-index: 3;
}

.what-we-do h2{
   font-weight: bolder;
   font-size: 3rem;
   align-self: flex-start;
   margin: 0 0 15px;
   z-index: 3;
}

.what-we-do video {
   width: 100%;
   max-width: 550px;
   /* border: 1px blue solid; */
   box-shadow: 0 0 10px rgba(39, 5, 117, 0.582);
   margin: 50px 0 0;
   border-radius: 10px;
}

/* what-we-do styles end here */


/* cards styles start here */

.go-premium {
   display: flex;
   width: var(--width);
   max-width: var(--max-width);
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   margin: 0 auto;
   /* padding: 0 20px; */
}

.go-premium .title__container {
   padding: 0 20px;
}

.cards__container {
   width: 100%;
   /* max-width: var(--max-width); */
   height: auto;
   display: flex;
   /* justify-content: flex-end; */
   align-items: center;
   margin: 20px auto;
   padding: 20px 50px;
   overflow-x: scroll;
   scroll-snap-type: x mandatory;
}

.card__basic, .card__recommended, .card__plus{
   /* width: 20%; */
   /* min-width: 150px; */
   min-width: 250px;
   max-width: 250px;
   height: 350px;
   /* max-width: 200px; */
   margin: 0 15px;
   display: flex;
   flex-direction: column;
   box-shadow: 0 5px 15px gray;
   border-radius: 10px;
   scroll-snap-align: center;
}

.cards__container h3 {
   height: 10%;
   font-weight: bolder;
   text-align: center;
   padding: 15px 0 0;
}

.card__price {
   /* margin: 0 0 0 50px; */
   width: 100%;
   height: 25%;
   padding: 40px 0 0;
   display: flex;
   justify-content: center;
   /* align-items: flex-end;  */
}

.card__price sup {
   font-size: 4rem;
   /* font-weight: bold; */
}

.card__price span {
   font-size: 7rem;
   /* font-weight: lighter; */
}

.card__features {
   width: 100%;
   height: 65%;
   padding: 30px 10px;
   font-size: 1.7rem;
   position: relative;
}

.features__container {
   padding-left: 20px;
}

.features__container li {
   /* list-style: none; */
   /* margin-left: 20px; */
   margin: 7px 0;
}

.card__recommended {
   background-color: rgb(148, 158, 185);
   color: white;
   position: relative;
   overflow: hidden;
}

.recommendation {
   position: absolute;
   width: 150px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: rotate(45deg);
   background-color: purple;
   font-size: 1.3rem;
   font-weight: bold;
   top: 25px;
   right: -30px;
}

.card__plus {
   background-color: rgb(143, 87, 199);
   color: white;
}

.card__features section {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 15px;
   left: 0;
   right: 0;
}

.sign-up button, .upgrade-to-plus button, .upgrade-to-platinum button {
   width: 150px;
   height: 40px;
   margin: 0 auto;
   padding-left: 7px;
   /* background-color: red; */
   border: none;
   border-radius: 20px;
   color: white;
   font-size: 1.6rem;
   transition: all .2s;
   cursor: pointer;
}

.sign-up button:active, .upgrade-to-plus button:active, .upgrade-to-platinum button:active {
   transform: scale(.9);
}

.sign-up button {
   background-color: rgb(60, 218, 40);
}

.upgrade-to-plus button {
   background-color: rgb(97, 69, 223);
}

.upgrade-to-platinum button {
   background-color: rgb(148, 15, 148);
}
/* cards styles end here */


/* form styles start here */

.contact-us {
   width: var(--width);
   /* max-width: var(--max-width); */
   margin: 20px auto 0;
   padding: 20px;
   background-image: url('assets/karsten-winegeart-oU6KZTXhuvk-unsplash.jpg');
   background-position: left center;
   background-size: cover;
   background-repeat: no-repeat;
   /* margin: 20px 0; */
}

.contact-us h2 {
   text-align: center;
}

.form__container {
   width: 100%;
   max-width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   margin: 30px auto;
   padding: 20px;
   background-color: rgba(72, 145, 235, 0.644);
   border-radius: 20px;
}


.form__container label input, label textarea {
   max-width: 100%;
   display: flex;
   flex-direction: column;
   outline: none;
   border: none;
   border-radius: 15px;
   padding: 15px 15px;
   font-size: 1.7rem;
   font-family: var(--font-family);
   resize: none;
   /* padding: 10px; */
   /* margin: 15px 0; */
}

.form__container label {
   width: 100%;
   margin: 10px 0;
}

.name--input, .email--input {
   width: 100%;
   height: 40px;
}

textarea {
   /* height: 150px; */
}

input[type="submit"] {
   align-self: center;
   width: 200px;
   height: 40px;
   margin: 20px 0 0;
   border: none;
   border-radius: 25px;
   background-color: rgb(112, 14, 204);
   color: white;
   font-size: 1.8rem;
   transition: all .2s;
   cursor: pointer;
}

input[type="submit"]:active {
   transform: scale(.9);
}


/* form styles end here */


/* footer styles start here */

.footer {
   width: 100%;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* align-items: center; */
   align-items: center;
   padding: 20px;
   background-color: var(--header-background);
}

.design p {
   font-size: 1.9rem;
   font-weight: bold;
   text-align: center;
}

.social-media {
   width: 200px;
   display: flex;
   justify-content: space-between;
}

.social-media img {
   width: 30px;
   cursor: pointer;
   transition: all .2s;
}

.social-media img:hover {
   transform: translateY(10px);
}


/* footer styles end here */


@media(min-width: 600px) {
   .feature {
      flex-direction: row;
   }
   .feature img {
      width: 100px;
   }
   .footer {
      flex-direction: row;
   }
}


/* burger menu media query starts here */

@media(min-width: 800px) {
   .burger-icon {
      display: none;
   }

   .nav-bar {
      width: 50%;
   }

   .nav-bar__options {
      width: 100%;
      height: 100%;
      min-height: unset;
      /* display: flex; */
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: initial;
   }

   .nav-bar__options .item {
      width: auto;
      height: 100%;
      text-align: center;
      font-size: 1.8rem;
      transition: transform .2s;
   }

   .nav-bar__options .item:hover {
      transform: translateY(10px);
   }

   .nav-bar__options .item:active {
      background-color: transparent;
   }

   .nav-bar__options-noshow {
      opacity: 1;
      visibility: visible;
      transform: none;
   }
}

/* burger menu media query ends here */

@media(min-width: 880px) {
   .cards__container {
      justify-content: center;
      overflow-x: hidden;
   }
}